body{
    font-family:Arial, Helvetica, sans-serif;
}
#grid-container {
    display:grid;
    grid-template-areas: "header" "main" "footer";
}

#logo{
    
    font-size: 40px;
    font-weight: 700;
    color:black;
    font-family: 'Crimson Text', serif;
    
}





@media only screen and (min-width:786px) {

}













